/* rgba(255, 255, 255, 1) */
.demoSection {
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    margin: 30px auto;
    color: black;
}

.demoSectionHeading {
    text-align: center;
    margin-top: 10px;
}

.demoSectionButton {
    text-align: center;
}

.demoSectionButton .btn {
    background-color: rgba(55, 73, 239, 1);
    color: rgba(255, 255, 255, 1);
    height: 50px;
    width: 80%;
    font-weight: 700;
    font-size: 20px;
}
